.git
.agents
.codex
build
downloads
qemu-8.2.0
qemu-9.2.0
qemu-install
qemu92-install
sources
sstate-cache
*.bin
*.log
*.tar.bz2
*.tar.xz
*.tmp
*.wic
*.wic.bz2
*.wic.gz
poc/raspi4b/rpi4b-console.wic
poc/raspi4b/rpi4b-test.wic
qemu-8.2.0.tar.xz
qemu-9.2.0.tar.xz
rpi4.wic
